.red_menu_inner *{
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
 	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.red_menu_inner a{
	 outline: 0;
}

.red_menu_inner{

	font-size: 13px;	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
 	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	max-width: 100%;
	margin:0;
	padding:0;


}
.red_menu_inner > ul{
	list-style: none;
	display: block;
	margin:0;
	padding:0;
	white-space:nowrap;
}


.red_menu_inner > ul > li{
	
	margin: 0 8px 0 0;
	display: inline-block;
	
}

.red_menu_inner > ul > li  a{
	text-decoration: none;
	font-family: arial;
	color:#555;
	display: block;
	padding: 5px 10px;
	color:#555;

}

.red_menu_inner > ul > li > ul{
	display: none;
}	

	
.red_menu_inner > ul > li > ul:hover{
	display: block;
}	

.red_menu_inner > ul > li > ul{
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	list-style: none;
	position: absolute;
	left:0;
	top:30px;
	background-color: #555;
	margin:0;
	padding: 0px;
	width: 180px;
	overflow: visible;
	
}

.red_menu_inner > ul > li > ul > li{
	margin:0;
	position: relative;
}

.red_menu_inner > ul > li > ul > li > a{
	margin:0;
	padding: 0;
	display: block;
	padding: 4px 10px;
	color:#ddd;
}	

.red_menu_inner > ul > li > ul > li > a:hover{
	background-color: #ccc;
	color:#555;
}

.red_menu_inner > ul > li > ul > li.sub_2:hover > ul{	
	display: block;
}	

.red_menu_inner > ul > li > ul > li.sub_2{
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAaElEQVQYlX2OMQ5AQBRE3ybqVSmYU7iIVpxNT6/SOIryd65gV0OCFVP9zH+ZGRdj5E/ZdZhZCdTALClcvrsnmFkDeGCUtCfACbWAl9Q/Ks5nAVTA8rUhBzpgkrQmABCAQdJ2T002vHUAc0IlfF4dxhQAAAAASUVORK5CYII=);
	background-repeat: no-repeat;
	background-position: right 5px top 50%;
	background-position-x: 98%;
	background-position-y: 50%;

}

.red_menu_inner > ul > li > ul > li > ul{
	display: none;
	position: absolute;
	list-style: none;
	background-color: #555;
	padding: 0;
	margin:0;
	right: -180px;
	top:0;
	-webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;    
	box-sizing: border-box; 
	width: 180px;  
      
}
.red_menu_inner > ul > li > ul > li > ul > li{
	padding: 0;
	margin:0;
}
.red_menu_inner > ul > li > ul > li > ul > li > a{
	color:#ddd;
	display: block;
	padding: 4px 10px;

}	

.red_menu_inner > ul > li > ul > li > ul > li > a:hover{
	color:#555;
	background-color: #ddd;
}

.red_menu_inner > ul > li > ul > li > ul > li:hover{
	display: block;
}


.red_clear{
	clear: both;
}


/* Mobile version   //////////////*/
.red_menu_inner > ul > li > ul > li.sub_2.red_temp_mobile{
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAApElEQVQ4jd2SMQrCQBBFX8BL6FSiJwlWVpY23iB3CHgF8QQprIW0HsPa5s85xmaRZUlESBFwYIt98/ftFFNFBFNqMen1fwiIiM+R1Ena5KzobyV1OSsnuAC9u+/N7JU33H0N9MBpdIL0Sy3pKWmZsVVidZmvhvbA3Q9AC+wSegCtmd3L7KAgSRrgmK43M7sO5UYFSdICYWbnscxXwS81/yLNL3gD/ruI0ABcUycAAAAASUVORK5CYII=);
	background-repeat: no-repeat;
	background-position: right 5px top 50%;
	background-position-x: 98%;
	background-position-y: 50%;
}

.red_menu_inner > ul > li.red_drop_down{
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAaklEQVQYlaWPMQrCYBhD3w8WJ3EWvkzurt6iB/BwHe3BAjr0Cm3jVHHqYiBT4PHSkrCXw+4KkISqOlXVOQlbq+qS5Es4Ag9Jo+1JUg/MwLttDpKuQA+8gA542l7br6SkG3AHBtsLQPv7xQcKLy6i1gkqtAAAAABJRU5ErkJggg==);
	background-repeat: no-repeat;
	background-position: right 0px top 50%;
	background-position-x: 100%;
	background-position-y: 50%;
}

.red_menu_inner > ul > li.red_drop_down a:hover{
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAaklEQVQYlaWPMQrCYBhD3w8WJ3EWvkzurt6iB/BwHe3BAjr0Cm3jVHHqYiBT4PHSkrCXw+4KkISqOlXVOQlbq+qS5Es4Ag9Jo+1JUg/MwLttDpKuQA+8gA542l7br6SkG3AHBtsLQPv7xQcKLy6i1gkqtAAAAABJRU5ErkJggg==);
	background-repeat: no-repeat;
	background-position: right 0px top 50%;
	background-position-x: 100%;
	background-position-y: 50%;
}

.red_menu_inner > ul > li > ul > li.sub_2 > a:hover{
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAYUlEQVQYlYXPKw7CUBSE4e+UJqgGhQDLbhBYTC2WHbIj9jCYe9OSNHDcnPyZRyXx85Jo0AlXDP2XZAEadMOM3SbQoDseXY/ruKo64ozXVocDnrisHauvqKoJ+yTvL9d/Mz87Ek8ddxbQ1wAAAABJRU5ErkJggg==);
	background-repeat: no-repeat;
	background-position: right 5px top 50%;
	background-position-x: 98%;
	background-position-y: 50%;
}	



.red_menu_inner > ul > li > ul > li.sub_2.red_temp_mobile > ul{
	position: relative;
	list-style: none;
	background-color: #555;
	padding: 0 10px;
	margin:0;
	right: 0;
	top:0;
	-webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;    
	box-sizing: border-box; 
	width: 100%;  
      
}
.red_menu_inner > ul > li > ul > li.sub_2.red_temp_mobile > ul{
	display: none;
}


#red_menu_heading{

	width:100%;
	border-bottom: 1px solid #ddd;
}

#red_menu_heading  > a{
	
	background-color: #ddd;
	color:#555;

}

.red_menu_heading a{
	background-color: #888;
	color:#555;
}

/*       /////////////            Effects            /////////////////            */

.red_menu_shadow_effect > ul > li > ul{
	  -webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  -moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
}

.red_menu_shadow_effect > ul > li > ul > li > ul{
	  -webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  -moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
}

.red_menu_shadow_effect > ul > li > ul > li.red_temp_mobile > ul{
		  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}



/*       /////////////            Themes            /////////////////            */



/*       /////////////            light            /////////////////            */
.red_menu_inner.red_menu_theme_light > ul > li  a{
		color:#444;

}	

.red_menu_inner.red_menu_theme_light > ul > li > ul{
	background-color: #eee;

}

.red_menu_inner.red_menu_theme_light > ul > li > ul > li > ul{
	background-color: #eee;
}

.red_menu_inner.red_menu_theme_light > ul > li > ul a{
	color:#444;
}

.red_menu_inner.red_menu_theme_light > ul > li > ul > li.sub_2.red_temp_mobile{
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAXElEQVQYlaXPIQ7CUBCE4W8DyKamCDSeg1T0FrU9Vo/GMRjMe4iKGiZZsfNvJjuVxJmupxRawoAxiT54JPkdTNhwb/uCOYnqP1TVs4E3btiTfBxiX1hx6V793eILeNo31jqm5I4AAAAASUVORK5CYII=);
	background-repeat: no-repeat;
	background-position: right 5px top 50%;
	background-position-x: 98%;
	background-position-y: 50%;

}


.red_menu_inner.red_menu_theme_light > ul > li > ul > li.sub_2{

	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAYUlEQVQYlYXPKw7CUBSE4e+UJqgGhQDLbhBYTC2WHbIj9jCYe9OSNHDcnPyZRyXx85Jo0AlXDP2XZAEadMOM3SbQoDseXY/ruKo64ozXVocDnrisHauvqKoJ+yTvL9d/Mz87Ek8ddxbQ1wAAAABJRU5ErkJggg==);
	background-repeat: no-repeat;
	background-position: right 5px top 50%;
	background-position-x: 98%;
	background-position-y: 50%;

}

.red_menu_inner.red_menu_theme_light > ul > li > ul > li.sub_2 > ul{
	background-color: #eee;

} 


.red_menu_inner.red_menu_theme_light > ul > li > ul > li.sub_2 > ul > li.red_menu_heading > a{
	background-color: #ddd;

} 



/*       /////////////            neat            /////////////////            */


.red_menu_inner.red_menu_theme_neat > ul > li  a{
		color:#444;
	
}	

.red_menu_inner.red_menu_theme_neat > ul > li > ul{
	background-color: #eee;

}

.red_menu_inner.red_menu_theme_neat > ul > li > ul > li > ul{
	background-color: #eee;
}

.red_menu_inner.red_menu_theme_neat > ul > li > ul a{
	color:#444;

}

.red_menu_inner.red_menu_theme_neat > ul > li > ul > li.sub_2 > a:hover{
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAYUlEQVQYlYXPKw7CUBSE4e+UJqgGhQDLbhBYTC2WHbIj9jCYe9OSNHDcnPyZRyXx85Jo0AlXDP2XZAEadMOM3SbQoDseXY/ruKo64ozXVocDnrisHauvqKoJ+yTvL9d/Mz87Ek8ddxbQ1wAAAABJRU5ErkJggg==);
	background-repeat: no-repeat;
	background-position: right 5px top 50%;
	background-position-x: 98%;
	background-position-y: 50%;
}	

.red_menu_inner.red_menu_theme_neat > ul > li > ul > li.sub_2.red_temp_mobile{
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAXElEQVQYlaXPIQ7CUBCE4W8DyKamCDSeg1T0FrU9Vo/GMRjMe4iKGiZZsfNvJjuVxJmupxRawoAxiT54JPkdTNhwb/uCOYnqP1TVs4E3btiTfBxiX1hx6V793eILeNo31jqm5I4AAAAASUVORK5CYII=);
	background-repeat: no-repeat;
	background-position: right 5px top 50%;
	background-position-x: 98%;
	background-position-y: 50%;

}


.red_menu_inner.red_menu_theme_neat > ul > li > ul > li.sub_2{

	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAYUlEQVQYlYXPKw7CUBSE4e+UJqgGhQDLbhBYTC2WHbIj9jCYe9OSNHDcnPyZRyXx85Jo0AlXDP2XZAEadMOM3SbQoDseXY/ruKo64ozXVocDnrisHauvqKoJ+yTvL9d/Mz87Ek8ddxbQ1wAAAABJRU5ErkJggg==);
	background-repeat: no-repeat;
	background-position: right 5px top 50%;
	background-position-x: 98%;
	background-position-y: 50%;
}

.red_menu_inner.red_menu_theme_neat > ul > li > ul > li{
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.red_menu_inner.red_menu_theme_neat > ul > li > ul > li:first-child{
	border-top: 1px solid #ccc;
}

.red_menu_inner.red_menu_theme_neat > ul > li > ul > li >  ul > li{
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}	


.red_menu_inner.red_menu_theme_neat > ul > li > ul > li.sub_2.red_temp_mobile >  ul > li:last-child{
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	margin-bottom: 5px;
}

.red_menu_inner.red_menu_theme_neat > ul > li > ul > li.sub_2 >  ul > li:last-child{
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	
}

.red_menu_inner.red_menu_theme_neat > ul > li > ul > li > ul{
	background-color: #ddd;

}

.red_menu_inner.red_menu_theme_neat > ul > li > ul > li.sub_2 > ul{
	background-color: #eee;
} 


.red_menu_inner.red_menu_theme_neat > ul > li > ul > li.sub_2 > ul > li.red_menu_heading > a{
	background-color: #ddd;
} 





/*       /////////////            white            /////////////////            */


.red_menu_inner.red_menu_theme_white > ul > li > a{
		color:#444;
}

.red_menu_inner.red_menu_theme_white > ul > li > a:hover{
		color:#444;
		background-color:#eee;
}

.red_menu_inner.red_menu_theme_white > ul > li > ul > li > a:hover{
	background-color: #eee;
	color:#555;
}	

.red_menu_inner.red_menu_theme_white > ul > li > ul > li.sub_2 > ul > li > a:hover{
	background-color: #eee;
	color:#555;
}	

.red_menu_inner.red_menu_theme_white > ul > li > ul > li.sub_2 > a:hover{
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAYUlEQVQYlYXPKw7CUBSE4e+UJqgGhQDLbhBYTC2WHbIj9jCYe9OSNHDcnPyZRyXx85Jo0AlXDP2XZAEadMOM3SbQoDseXY/ruKo64ozXVocDnrisHauvqKoJ+yTvL9d/Mz87Ek8ddxbQ1wAAAABJRU5ErkJggg==);
	background-repeat: no-repeat;
	background-position: right 5px top 50%;
	background-position-x: 98%;
	background-position-y: 50%;
}	

.red_menu_inner.red_menu_theme_white > ul > li > ul{
	background-color: #fff;
}

.red_menu_inner.red_menu_theme_white > ul > li > ul a{
	color:#444;
}

.red_menu_inner.red_menu_theme_white > ul > li > ul > li.sub_2.red_temp_mobile{
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAXElEQVQYlaXPIQ7CUBCE4W8DyKamCDSeg1T0FrU9Vo/GMRjMe4iKGiZZsfNvJjuVxJmupxRawoAxiT54JPkdTNhwb/uCOYnqP1TVs4E3btiTfBxiX1hx6V793eILeNo31jqm5I4AAAAASUVORK5CYII=);
	background-repeat: no-repeat;
	background-position: right 5px top 50%;
	background-position-x: 98%;
	background-position-y: 50%;

}


.red_menu_inner.red_menu_theme_white > ul > li > ul > li.sub_2{

	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAYUlEQVQYlYXPKw7CUBSE4e+UJqgGhQDLbhBYTC2WHbIj9jCYe9OSNHDcnPyZRyXx85Jo0AlXDP2XZAEadMOM3SbQoDseXY/ruKo64ozXVocDnrisHauvqKoJ+yTvL9d/Mz87Ek8ddxbQ1wAAAABJRU5ErkJggg==);
	background-repeat: no-repeat;
	background-position: right 5px top 50%;
	background-position-x: 98%;
	background-position-y: 50%;
}

.red_menu_inner.red_menu_theme_white > ul > li > ul > li{
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.red_menu_inner.red_menu_theme_white > ul > li > ul > li:first-child{
	border-top: 1px solid #ccc;
}

.red_menu_inner.red_menu_theme_white > ul > li > ul > li >  ul > li{
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}	

.red_menu_inner.red_menu_theme_white > ul > li > ul > li.sub_2.red_temp_mobile >  ul > li:last-child{
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	margin-bottom: 5px;
}

.red_menu_inner.red_menu_theme_white > ul > li > ul > li.sub_2 >  ul > li:last-child{
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	
}

.red_menu_inner.red_menu_theme_white > ul > li > ul > li > ul{
	background-color: #fff;

}

.red_menu_inner.red_menu_theme_white > ul > li > ul > li.sub_2 > ul{
	background-color: #fff;
} 


.red_menu_inner.red_menu_theme_white > ul > li > ul > li.sub_2 > ul > li.red_menu_heading > a{
	background-color: #ddd;
}



/*       /////////////            chrome            /////////////////            */

.red_menu_inner.red_menu_theme_chrome{
		margin:0;
		padding:0;
		background: linear-gradient(to bottom, #FFFFFF 0%, #F1F1F1 13%, #F1F1F1 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	    border: 1px solid #E3E3E3;
	    color: #555555;
	    
}

#temp_red_menu_item.red_menu_theme_chrome{
	border:none;
}

.red_menu_inner.red_menu_theme_chrome .red_menu_heading{
	margin-top:5px;
}

.red_menu_inner.red_menu_theme_chrome > ul > li{
		margin:0;
		padding:0;
		
}

.red_menu_inner.red_menu_theme_chrome > ul > li > a{
		color:#444;

}

.red_menu_inner.red_menu_theme_chrome > ul > li > a:hover{
		color:#444;
		
}

.red_menu_inner.red_menu_theme_chrome > ul > li > ul > li > a:hover{
	background-color: #eee;
	color:#555;

}

.red_menu_inner.red_menu_theme_chrome > ul > li > ul > li.sub_2 > a:hover{
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAYUlEQVQYlYXPKw7CUBSE4e+UJqgGhQDLbhBYTC2WHbIj9jCYe9OSNHDcnPyZRyXx85Jo0AlXDP2XZAEadMOM3SbQoDseXY/ruKo64ozXVocDnrisHauvqKoJ+yTvL9d/Mz87Ek8ddxbQ1wAAAABJRU5ErkJggg==);
	background-repeat: no-repeat;
	background-position: right 5px top 50%;
	background-position-x: 98%;
	background-position-y: 50%;
		background-color: #eee;
	color:#555;
}	

.red_menu_inner.red_menu_theme_chrome > ul > li > ul > li.sub_2 > ul > li > a:hover{
	background-color: #eee;
	color:#555;
}	

.red_menu_inner.red_menu_theme_chrome > ul > li > ul{
		background-color: #fff;
		background: linear-gradient(to bottom, #FFFFFF 0%, #F1F1F1 13%, #F1F1F1 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	    color: #555555;
	    font-size: 1em;
}

.red_menu_inner.red_menu_theme_chrome > ul > li > ul a{
	color:#444;

}

.red_menu_inner.red_menu_theme_chrome > ul > li > ul > li.sub_2.red_temp_mobile{
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAXElEQVQYlaXPIQ7CUBCE4W8DyKamCDSeg1T0FrU9Vo/GMRjMe4iKGiZZsfNvJjuVxJmupxRawoAxiT54JPkdTNhwb/uCOYnqP1TVs4E3btiTfBxiX1hx6V793eILeNo31jqm5I4AAAAASUVORK5CYII=);
	background-repeat: no-repeat;
	background-position: right 5px top 50%;
	background-position-x: 98%;
	background-position-y: 50%;

}


.red_menu_inner.red_menu_theme_chrome > ul > li > ul > li.sub_2{

	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAYUlEQVQYlYXPKw7CUBSE4e+UJqgGhQDLbhBYTC2WHbIj9jCYe9OSNHDcnPyZRyXx85Jo0AlXDP2XZAEadMOM3SbQoDseXY/ruKo64ozXVocDnrisHauvqKoJ+yTvL9d/Mz87Ek8ddxbQ1wAAAABJRU5ErkJggg==);
	background-repeat: no-repeat;
	background-position: right 5px top 50%;
	background-position-x: 98%;
	background-position-y: 50%;
}

.red_menu_inner.red_menu_theme_chrome > ul > li > ul > li{
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.red_menu_inner.red_menu_theme_chrome > ul > li > ul > li:first-child{
	border-top: 1px solid #ccc;

}

.red_menu_inner.red_menu_theme_chrome > ul > li > ul > li >  ul > li{
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}	

.red_menu_inner.red_menu_theme_chrome > ul > li > ul > li.sub_2.red_temp_mobile >  ul > li:last-child{
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	margin-bottom: 5px;
}

.red_menu_inner.red_menu_theme_chrome > ul > li > ul > li.sub_2 >  ul > li:last-child{
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	
}

.red_menu_inner.red_menu_theme_chrome > ul > li > ul > li > ul{
	background-color: #fff;
	background: linear-gradient(to bottom, #FFFFFF 0%, #F1F1F1 13%, #F1F1F1 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	   
	    color: #555555;
	    font-size: 1em;

}

.red_menu_inner.red_menu_theme_chrome > ul > li > ul > li.sub_2 > ul{
	background-color: #fff;
} 

.red_menu_inner.red_menu_theme_chrome > ul > li > ul > li.sub_2 > ul > li.red_menu_heading > a{
	background-color: #ddd;
}


/*       /////////////            blue            /////////////////            */

.red_menu_inner.red_menu_theme_blue > ul > li.red_drop_down{
	
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAaUlEQVQYlaWPIQ7CYBhD359AUAuaVM5jucUOwOGQ42JfmeAKbEVtQc3QpKrJy2tLwl4OuytAEqqqq6pzEtZW1SXJRjgBd9tPSW/bA/ABprY62O6BAXgBR2CUtLRfSdtX4AY8JM0A7e8XX7vROAIDeHh4AAAAAElFTkSuQmCC);

}

.red_menu_inner.red_menu_theme_blue > ul{
	padding:4px 0;
}

.red_menu_inner.red_menu_theme_blue{
		margin:0;
		padding:0;
 background: linear-gradient(to bottom, #356AA0 0%, #356AA0 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 1px solid #39B0DB;
      -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
	    
}

#temp_red_menu_item.red_menu_theme_blue{
	border:none;
}

.red_menu_inner.red_menu_theme_blue .red_menu_heading{
	margin-top:5px;
	background-color: #2F87E7;
	color:#ddd;
}

.red_menu_inner.red_menu_theme_blue > ul > li > ul > #red_menu_heading > a{
		background-color: #2F87E7;
	color:#ddd;
	
}

.red_menu_inner.red_menu_theme_blue > ul > li{
		margin:0;
		padding:0;

		
}

.red_menu_inner.red_menu_theme_blue > ul > li > a{
		color: #DDDDDD;

}

.red_menu_inner.red_menu_theme_blue > ul > li > a:hover{
		color: #DDDDDD;
		
}

.red_menu_inner.red_menu_theme_blue > ul > li > ul > li > a:hover{
	background-color: #2F87E7;
	color:#ddd;

}	

.red_menu_inner.red_menu_theme_blue > ul > li > ul > li.sub_2 > a:hover{
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAYUlEQVQYlYXPKw7CUBSE4e+UJqgGhQDLbhBYTC2WHbIj9jCYe9OSNHDcnPyZRyXx85Jo0AlXDP2XZAEadMOM3SbQoDseXY/ruKo64ozXVocDnrisHauvqKoJ+yTvL9d/Mz87Ek8ddxbQ1wAAAABJRU5ErkJggg==);
	background-repeat: no-repeat;
	background-position: right 5px top 50%;
	background-position-x: 98%;
	background-position-y: 50%;
}	

.red_menu_inner.red_menu_theme_blue > ul > li > ul > li.sub_2 > ul > li > a:hover{
	background-color: #2F87E7;
	color:#ddd;
}	

.red_menu_inner.red_menu_theme_blue > ul > li > ul{
		 background: linear-gradient(to bottom, #356AA0 0%, #356AA0 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 1px solid #39B0DB;
	   
	   color: #DDDDDD;
	    
}

.red_menu_inner.red_menu_theme_blue > ul > li > ul a{
	color: #DDDDDD;

}

.red_menu_inner.red_menu_theme_blue > ul > li > ul > li.sub_2.red_temp_mobile{
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAaUlEQVQYlaWPIQ7CYBhD359AUAuaVM5jucUOwOGQ42JfmeAKbEVtQc3QpKrJy2tLwl4OuytAEqqqq6pzEtZW1SXJRjgBd9tPSW/bA/ABprY62O6BAXgBR2CUtLRfSdtX4AY8JM0A7e8XX7vROAIDeHh4AAAAAElFTkSuQmCC);
	background-repeat: no-repeat;
	background-position: right 5px top 50%;
	background-position-x: 98%;
	background-position-y: 50%;

}


.red_menu_inner.red_menu_theme_blue > ul > li > ul > li.sub_2{

	background-repeat: no-repeat;
	background-position: right 5px top 50%;
	background-position-x: 98%;
	background-position-y: 50%;
}

.red_menu_inner.red_menu_theme_blue > ul > li > ul > li{
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.red_menu_inner.red_menu_theme_blue > ul > li > ul > li:first-child{
	border-top: 1px solid #ccc;

}

.red_menu_inner.red_menu_theme_blue > ul > li > ul > li >  ul > li{
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}	

.red_menu_inner.red_menu_theme_blue > ul > li > ul > li.sub_2.red_temp_mobile >  ul > li:last-child{
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	margin-bottom: 5px;
}

.red_menu_inner.red_menu_theme_blue > ul > li > ul > li.sub_2 >  ul > li:last-child{
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	
}

.red_menu_inner.red_menu_theme_blue > ul > li > ul > li > ul{
 background: linear-gradient(to bottom, #356AA0 0%, #356AA0 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 1px solid #39B0DB;
	   
color: #DDDDDD;

}

.red_menu_inner.red_menu_theme_blue > ul > li > ul > li.sub_2 > ul{
	background-color: #fff;
} 

.red_menu_inner.red_menu_theme_blue > ul > li > ul > li.sub_2 > ul > li.red_menu_heading > a{
		background-color: #2F87E7;
	color:#ddd;
}



/*       /////////////            cloud            /////////////////            */

.red_menu_inner.red_menu_theme_cloud > ul > li.red_drop_down{
	
	background-image: url(data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAaklEQVQYlaWPMQrCYBhD3w8WJ3EWvkzurt6iB/BwHe3BAjr0Cm3jVHHqYiBT4PHSkrCXw+4KkISqOlXVOQlbq+qS5Es4Ag9Jo+1JUg/MwLttDpKuQA+8gA542l7br6SkG3AHBtsLQPv7xQcKLy6i1gkqtAAAAABJRU5ErkJggg==);
}

.red_menu_inner.red_menu_theme_cloud > ul{
	padding:4px 0;
}

.red_menu_inner.red_menu_theme_cloud{
		margin:0;
		padding:0;

background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

	border: 1px solid #ddd;

   
      -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
	    
}

#temp_red_menu_item.red_menu_theme_cloud{
	border:none;
}

.red_menu_inner.red_menu_theme_cloud .red_menu_heading{
	margin-top:5px;
	background-color: #2F87E7;
	color:#ddd;
}

.red_menu_inner.red_menu_theme_cloud > ul > li > ul > #red_menu_heading > a{
		background-color: #ddd;
		color:#555;
	
}

.red_menu_inner.red_menu_theme_cloud > ul > li{
		margin:0;
		padding:0;
}

.red_menu_inner.red_menu_theme_cloud > ul > li > a{
		color:#555;

}

.red_menu_inner.red_menu_theme_cloud > ul > li > a:hover{
		color:#555;
		
}

.red_menu_inner.red_menu_theme_cloud > ul > li > ul > li > a:hover{
	background-color: #ddd;
	color:#555;

}	

.red_menu_inner.red_menu_theme_cloud > ul > li > ul > li.sub_2 > a:hover{
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAYUlEQVQYlYXPKw7CUBSE4e+UJqgGhQDLbhBYTC2WHbIj9jCYe9OSNHDcnPyZRyXx85Jo0AlXDP2XZAEadMOM3SbQoDseXY/ruKo64ozXVocDnrisHauvqKoJ+yTvL9d/Mz87Ek8ddxbQ1wAAAABJRU5ErkJggg==);
	background-repeat: no-repeat;
	background-position: right 5px top 50%;
	background-position-x: 98%;
	background-position-y: 50%;
}	

.red_menu_inner.red_menu_theme_cloud > ul > li > ul > li.sub_2 > ul > li > a:hover{
	background-color: #ddd;
	color:#555;
}	

.red_menu_inner.red_menu_theme_cloud > ul > li > ul{
	background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */


	   
	   color: #555;
	    
}

.red_menu_inner.red_menu_theme_cloud > ul > li > ul a{
	color: #555;

}

.red_menu_inner.red_menu_theme_cloud > ul > li > ul > li.sub_2{

	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAYUlEQVQYlYXPKw7CUBSE4e+UJqgGhQDLbhBYTC2WHbIj9jCYe9OSNHDcnPyZRyXx85Jo0AlXDP2XZAEadMOM3SbQoDseXY/ruKo64ozXVocDnrisHauvqKoJ+yTvL9d/Mz87Ek8ddxbQ1wAAAABJRU5ErkJggg==);
	background-repeat: no-repeat;
	background-position: right 5px top 50%;
	background-position-x: 98%;
	background-position-y: 50%;
}

.red_menu_inner.red_menu_theme_cloud > ul > li > ul > li.sub_2.red_temp_mobile{
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAaklEQVQYlaWPMQrCYBhD3w8WJ3EWvkzurt6iB/BwHe3BAjr0Cm3jVHHqYiBT4PHSkrCXw+4KkISqOlXVOQlbq+qS5Es4Ag9Jo+1JUg/MwLttDpKuQA+8gA542l7br6SkG3AHBtsLQPv7xQcKLy6i1gkqtAAAAABJRU5ErkJggg==);
	background-repeat: no-repeat;
	background-position: right 5px top 50%;
	background-position-x: 98%;
	background-position-y: 50%;

}


.red_menu_inner.red_menu_theme_cloud > ul > li > ul > li.sub_2{

	background-repeat: no-repeat;
	background-position: right 5px top 50%;
	background-position-x: 98%;
	background-position-y: 50%;
}

.red_menu_inner.red_menu_theme_cloud > ul > li > ul > li{
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.red_menu_inner.red_menu_theme_cloud > ul > li > ul > li:first-child{
	border-top: 1px solid #ccc;

}

.red_menu_inner.red_menu_theme_cloud > ul > li > ul > li >  ul > li{
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}	

.red_menu_inner.red_menu_theme_cloud > ul > li > ul > li.sub_2.red_temp_mobile >  ul > li:last-child{
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	margin-bottom: 5px;
}

.red_menu_inner.red_menu_theme_cloud > ul > li > ul > li.sub_2 >  ul > li:last-child{
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	
}

.red_menu_inner.red_menu_theme_cloud > ul > li > ul > li > ul{
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
    
	   
color: #555;

}

.red_menu_inner.red_menu_theme_cloud > ul > li > ul > li.sub_2 > ul{
	background-color: #fff;
} 

.red_menu_inner.red_menu_theme_cloud > ul > li > ul > li.sub_2 > ul > li.red_menu_heading > a{
		background-color: #ddd;
	color:#555;
}





/*       /////////////            green            /////////////////            */

.red_menu_inner.red_menu_theme_green > ul > li.red_drop_down{
	
	background-image: url(data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAaklEQVQYlaWPMQrCYBhD3w8WJ3EWvkzurt6iB/BwHe3BAjr0Cm3jVHHqYiBT4PHSkrCXw+4KkISqOlXVOQlbq+qS5Es4Ag9Jo+1JUg/MwLttDpKuQA+8gA542l7br6SkG3AHBtsLQPv7xQcKLy6i1gkqtAAAAABJRU5ErkJggg==);
}

.red_menu_inner.red_menu_theme_green > ul > li > a{
		color:#fff;
}

.red_menu_inner.red_menu_theme_green > ul{
	padding:4px 0;
}

.red_menu_inner.red_menu_theme_green{
		margin:0;
		padding:0;

background: #8fc400; /* Old browsers */
background: -moz-linear-gradient(top,  #8fc400 0%, #8fc400 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8fc400), color-stop(100%,#8fc400)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #8fc400 0%,#8fc400 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #8fc400 0%,#8fc400 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #8fc400 0%,#8fc400 100%); /* IE10+ */
background: linear-gradient(to bottom,  #8fc400 0%,#8fc400 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc400', endColorstr='#8fc400',GradientType=0 ); /* IE6-9 */


	border: 1px solid #ddd;

   
      -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
	    
}

#temp_red_menu_item.red_menu_theme_green{
	border:none;
}

.red_menu_inner.red_menu_theme_green .red_menu_heading{
	margin-top:5px;
	background-color: #8FC400;
	color:#fff;
}

.red_menu_inner.red_menu_theme_green > ul > li > ul > #red_menu_heading > a{
		background-color: #8FC400;
		color:#555;
	
}

.red_menu_inner.red_menu_theme_green > ul > li{
		margin:0;
		padding:0;
}

.red_menu_inner.red_menu_theme_green > ul > li > a{
		color:#fff;

}

.red_menu_inner.red_menu_theme_green > ul > li > a:hover{
		color:#555;
		background-color: #fff;
		  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.red_menu_inner.red_menu_theme_green > ul > li > ul > li > a:hover{
	background-color: #fff;
	color:#8FC400;

}	

.red_menu_inner.red_menu_theme_green > ul > li > ul > li.sub_2 > a:hover{
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAYUlEQVQYlYXPKw7CUBSE4e+UJqgGhQDLbhBYTC2WHbIj9jCYe9OSNHDcnPyZRyXx85Jo0AlXDP2XZAEadMOM3SbQoDseXY/ruKo64ozXVocDnrisHauvqKoJ+yTvL9d/Mz87Ek8ddxbQ1wAAAABJRU5ErkJggg==);
	background-repeat: no-repeat;
	background-position: right 5px top 50%;
	background-position-x: 98%;
	background-position-y: 50%;
}	

.red_menu_inner.red_menu_theme_green > ul > li > ul > li.sub_2 > ul > li > a:hover{
	background-color: #fff;
	color:#8FC400;
}	

.red_menu_inner.red_menu_theme_green > ul > li > ul{

background: #8fc400; /* Old browsers */
background: -moz-linear-gradient(top,  #8fc400 0%, #8fc400 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8fc400), color-stop(100%,#8fc400)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #8fc400 0%,#8fc400 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #8fc400 0%,#8fc400 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #8fc400 0%,#8fc400 100%); /* IE10+ */
background: linear-gradient(to bottom,  #8fc400 0%,#8fc400 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc400', endColorstr='#8fc400',GradientType=0 ); /* IE6-9 */



	   
	   color: #fff;
	    
}

.red_menu_inner.red_menu_theme_green > ul > li > ul a{
	color: #fff;

}

.red_menu_inner.red_menu_theme_green > ul > li > ul > li.sub_2{

	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAYUlEQVQYlYXPKw7CUBSE4e+UJqgGhQDLbhBYTC2WHbIj9jCYe9OSNHDcnPyZRyXx85Jo0AlXDP2XZAEadMOM3SbQoDseXY/ruKo64ozXVocDnrisHauvqKoJ+yTvL9d/Mz87Ek8ddxbQ1wAAAABJRU5ErkJggg==);
	background-repeat: no-repeat;
	background-position: right 5px top 50%;
	background-position-x: 98%;
	background-position-y: 50%;
}

.red_menu_inner.red_menu_theme_green > ul > li > ul > li.sub_2.red_temp_mobile{
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAaklEQVQYlaWPMQrCYBhD3w8WJ3EWvkzurt6iB/BwHe3BAjr0Cm3jVHHqYiBT4PHSkrCXw+4KkISqOlXVOQlbq+qS5Es4Ag9Jo+1JUg/MwLttDpKuQA+8gA542l7br6SkG3AHBtsLQPv7xQcKLy6i1gkqtAAAAABJRU5ErkJggg==);
	background-repeat: no-repeat;
	background-position: right 5px top 50%;
	background-position-x: 98%;
	background-position-y: 50%;

}


.red_menu_inner.red_menu_theme_green > ul > li > ul > li.sub_2{

	background-repeat: no-repeat;
	background-position: right 5px top 50%;
	background-position-x: 98%;
	background-position-y: 50%;
}

.red_menu_inner.red_menu_theme_green > ul > li > ul > li{
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.red_menu_inner.red_menu_theme_green > ul > li > ul > li:first-child{
	border-top: 1px solid #ccc;

}

.red_menu_inner.red_menu_theme_green > ul > li > ul > li >  ul > li{
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}	

.red_menu_inner.red_menu_theme_green > ul > li > ul > li.sub_2.red_temp_mobile >  ul > li:last-child{
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	margin-bottom: 5px;
}

.red_menu_inner.red_menu_theme_green > ul > li > ul > li.sub_2 >  ul > li:last-child{
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	
}

.red_menu_inner.red_menu_theme_green > ul > li > ul > li > ul{
background: #8fc400; /* Old browsers */
background: -moz-linear-gradient(top,  #8fc400 0%, #8fc400 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8fc400), color-stop(100%,#8fc400)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #8fc400 0%,#8fc400 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #8fc400 0%,#8fc400 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #8fc400 0%,#8fc400 100%); /* IE10+ */
background: linear-gradient(to bottom,  #8fc400 0%,#8fc400 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc400', endColorstr='#8fc400',GradientType=0 ); /* IE6-9 */

    
	   
color: #555;

}

.red_menu_inner.red_menu_theme_green > ul > li > ul > li.sub_2 > ul{
	background-color: #fff;
} 

.red_menu_inner.red_menu_theme_green > ul > li > ul > li.sub_2 > ul > li.red_menu_heading > a{
		background-color: #8FC400;
	color:#555;
}


/*       /////////////            dark            /////////////////            */

.red_menu_inner.red_menu_theme_dark > ul{
	background-color: #333;
    
	
}

.red_menu_inner.red_menu_theme_dark > ul{
	padding:2px 0;
}

.red_menu_inner.red_menu_theme_dark > ul{


	background-color: #222222;

	border: 1px solid #080808;

   
      -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
	    
}

.red_menu_inner.red_menu_theme_dark > ul > li.red_drop_down{
	
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAaUlEQVQYlaWPIQ7CYBhD359AUAuaVM5jucUOwOGQ42JfmeAKbEVtQc3QpKrJy2tLwl4OuytAEqqqq6pzEtZW1SXJRjgBd9tPSW/bA/ABprY62O6BAXgBR2CUtLRfSdtX4AY8JM0A7e8XX7vROAIDeHh4AAAAAElFTkSuQmCC);

}

#temp_red_menu_item.red_menu_theme_dark{
	border:none;
}

.red_menu_inner.red_menu_theme_dark .red_menu_heading{
	margin-top:5px;
	background-color: #8FC400;
	color:#ddd;
}

.red_menu_inner.red_menu_theme_dark > ul > li > ul > #red_menu_heading > a{
	background-color: #ccc;
	color:#555;
	
}

.red_menu_inner.red_menu_theme_dark > ul > li{
		margin:0;
		padding:0;
}

.red_menu_inner.red_menu_theme_dark > ul > li > a{
		color:#ccc;

}

.red_menu_inner.red_menu_theme_dark > ul > li > a:hover{
		color:#eee;
		
		  -webkit-border-radius: 2px;
	  -moz-border-radius: 2px;
	  border-radius: 2px;
}

.red_menu_inner.red_menu_theme_dark > ul > li > ul > li > a:hover{
	background-color: #fff;
	color:#999;

}	

.red_menu_inner.red_menu_theme_dark > ul > li > ul > li.sub_2 > a:hover{
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAYUlEQVQYlYXPKw7CUBSE4e+UJqgGhQDLbhBYTC2WHbIj9jCYe9OSNHDcnPyZRyXx85Jo0AlXDP2XZAEadMOM3SbQoDseXY/ruKo64ozXVocDnrisHauvqKoJ+yTvL9d/Mz87Ek8ddxbQ1wAAAABJRU5ErkJggg==);
	background-repeat: no-repeat;
	background-position: right 5px top 50%;
	background-position-x: 98%;
	background-position-y: 50%;
}	

.red_menu_inner.red_menu_theme_dark > ul > li > ul > li.sub_2 > ul > li > a:hover{
	background-color: #fff;
	color:#999;
}	

.red_menu_inner.red_menu_theme_dark > ul > li > ul{

background-color: #222222;

	   
	    
}

.red_menu_inner.red_menu_theme_dark > ul > li > ul a{
	color: #ddd;

}

.red_menu_inner.red_menu_theme_dark > ul > li > ul > li.sub_2{

	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAaElEQVQYlX2OMQ5AQBRE3ybqVSmYU7iIVpxNT6/SOIryd65gV0OCFVP9zH+ZGRdj5E/ZdZhZCdTALClcvrsnmFkDeGCUtCfACbWAl9Q/Ks5nAVTA8rUhBzpgkrQmABCAQdJ2T002vHUAc0IlfF4dxhQAAAAASUVORK5CYII=);
	background-repeat: no-repeat;
	background-position: right 5px top 50%;
	background-position-x: 98%;
	background-position-y: 50%;
}

.red_menu_inner.red_menu_theme_dark > ul > li > ul > li.sub_2.red_temp_mobile{
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAaUlEQVQYlaWPIQ7CYBhD359AUAuaVM5jucUOwOGQ42JfmeAKbEVtQc3QpKrJy2tLwl4OuytAEqqqq6pzEtZW1SXJRjgBd9tPSW/bA/ABprY62O6BAXgBR2CUtLRfSdtX4AY8JM0A7e8XX7vROAIDeHh4AAAAAElFTkSuQmCC);
	background-repeat: no-repeat;
	background-position: right 5px top 50%;
	background-position-x: 98%;
	background-position-y: 50%;

}


.red_menu_inner.red_menu_theme_dark > ul > li > ul > li.sub_2{

	background-repeat: no-repeat;
	background-position: right 5px top 50%;
	background-position-x: 98%;
	background-position-y: 50%;
}

.red_menu_inner.red_menu_theme_dark > ul > li > ul > li{
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
}

.red_menu_inner.red_menu_theme_dark > ul > li > ul > li:first-child{
	border-top: 1px solid #999;

}

.red_menu_inner.red_menu_theme_dark > ul > li > ul > li >  ul > li{
	border-top: 1px solid #999;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
}	

.red_menu_inner.red_menu_theme_dark > ul > li > ul > li.sub_2.red_temp_mobile >  ul > li:last-child{
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	margin-bottom: 5px;
}

.red_menu_inner.red_menu_theme_dark > ul > li > ul > li.sub_2 >  ul > li:last-child{
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	
}

.red_menu_inner.red_menu_theme_dark > ul > li > ul > li > ul{
background-color: #222;
color: #555;

}

.red_menu_inner.red_menu_theme_dark > ul > li > ul > li.sub_2 > ul{
	background-color: #222;
} 

.red_menu_inner.red_menu_theme_dark > ul > li > ul > li.sub_2 > ul > li.red_menu_heading > a{
		background-color: #ccc;
		color:#555999